<section class="min-h-screen flex items-center justify-center overflow-hidden bg-fixed bg-cover bg-center bg-no-repeat" style="background-image: url('assets/images/about-bg.jpg');">

  <!-- Content container -->
  <div id="about" class="relative z-10 w-full px-4 md:px-6 py-16 flex justify-center md:justify-end">
    <!-- White content box -->
    <div class="bg-white shadow-2xl p-6 md:p-16 max-w-3xl md:mr-16">
      <p class="text-base/7 font-semibold text-primary-500">About</p>
      <h1 class="mt-2 text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ client.about_title }}</h1>
      <p class="mt-6 text-lg/8 md:text-2xl/9 text-gray-700">{{ client.about_desc_one }}</p>
      <div class="mt-10 text-base/7 md:text-xl/9 text-gray-600">
        <p>{{ client.about_desc_two }}</p>
        <p class="mt-8">{{ client.about_desc_three }}</p>
      </div>
    </div>
  </div>
</section>
