<div class="relative bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
    <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <img src="/assets/images/about-bg.jpg" alt="Restaurant interior dining area" class="absolute inset-0 size-full bg-gray-50 object-cover dark:bg-gray-800" />
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2">
        <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-400">About</p>
        <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl dark:text-white">{{ about_title }}</h1>
        <p class="mt-6 text-xl/8 text-gray-700 dark:text-gray-300">{{ about_desc_one }}</p>
        <div class="mt-10 max-w-xl text-base/7 text-gray-600 lg:max-w-none dark:text-gray-400">
          <p>{{ about_desc_two }}</p>
          <p class="mt-8">{{ about_desc_three }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
