<section data-parallax="scroll" data-image-src="assets/images/sushi.jpg" id="contact" class="section section--parallax">
  <div class="container__left">
    <div class="section-box">
      <header class="section__header">
        <h2 class="section__title"><small class="section__pretitle">Contact Us</small>Sumo Sumo Hibachi Bar</h2>
      </header>
      <div class="contact-detalis">
        <ul class="contact-detalis__list">
          <li class="contact-detalis__item">
            <h6 class="meta__title">
              <svg class="icon">
                <use xlink:href="#icon-location" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>Address
            </h6>
            <address class="meta__address">6565 Babcock Road, Suite 19, San Antonio, TX 78249</address><a href="https://maps.app.goo.gl/Yqxx2cJ7gWLsqct57" class="meta__link link-redirect" target="_blank">Open in Google Maps</a>
          </li>
          <li class="contact-detalis__item">
            <h6 class="meta__title">
              <svg class="icon">
                <use xlink:href="#icon-clock" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>Hours
            </h6>
            <span class="meta__working-hours">
              <strong>Mon:</strong> 11:30 AM - 2:00 PM, 3:00 PM - 8:45 PM<br>
              <strong>Tue - Thu:</strong> 11:30 AM - 2:00 PM, 3:00 PM - 8:30 PM<br>
              <strong>Fri - Sat:</strong> 11:30 AM - 2:00 PM, 3:00 PM - 8:45 PM<br>
              <strong>Sun:</strong> 11:30 AM - 2:00 PM, 3:00 PM - 8:15 PM
            </span>
          </li>
        </ul>
      </div>
      <h5>Send us a message</h5>
      <iframe src="https://88restaurants.com/1149/contact_forms" frameborder="0" width="100%" height="545" scrolling="no" ></iframe>
    </div>
  </div>
</section>

