<div class="w-full">
  <div class="flex flex-wrap">
    <div class="w-full">
      <section id="google-map">
        <iframe src="{{ client.googleMapsEmbedUrl }}" width="100%" height="450" class="border-0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <address class="bg-indigo-600 text-white text-center py-4 dark:bg-indigo-500">{{ client.address.full }}</address>
      </section>
    </div>
  </div>
</div>
<div id="page-footer" class="bg-gray-50 text-gray-900 py-6 dark:bg-gray-800 dark:text-white">
  <p class="text-center text-sm"><strong>{{ client.restaurantName }}</strong> Copyright 2025 	&copy; All rights reserved.</p>
</div>
