<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.504417449628!2d-73.98404602397237!3d40.75092917138776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25900c0bc4039%3A0xae1de5ed471937c0!2sRamerino%20-%20Italian%20Prime%20Restaurant!5e0!3m2!1sen!2sus!4v1728780635100!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<footer class="px-4 py-8 bg-secondary-700 md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="#" class="flex justify-center items-center text-2xl font-semibold text-white">
          <img src="assets/images/logo.png" alt="{{ client.restaurantName }} Logo" class="mr-2 h-16 w-auto" />
      </a>
      <p class="my-6 text-gray-200">Experience exceptional {{ client.cuisine }} in the heart of {{ client.address.city }}. Come dine with us!</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-white">
          <li>
              <a href="#about" class="mr-4 hover:underline md:mr-6">About</a>
          </li>
          <li>
              <a href="#menu" class="mr-4 hover:underline md:mr-6">Menu</a>
          </li>
          <li>
              <a href="#gallery" class="mr-4 hover:underline md:mr-6">Gallery</a>
          </li>
          <li>
              <a href="#contact" class="mr-4 hover:underline md:mr-6">Contact</a>
          </li>
      </ul>
      <span class="text-sm text-gray-300 sm:text-center">Copyright <span id="current-year"></span> © All rights reserved.</span>
  </div>
</footer>
