<footer class="px-4 py-8 bg-secondary-700 md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
      <a href="#" class="flex justify-center items-center text-2xl font-semibold text-white">
          <img src="assets/images/logo.png" alt="{{ client.restaurantName }} Logo" class="mr-2 h-16 w-auto" />
      </a>
      <p class="my-6 text-gray-200">Experience exceptional {{ client.cuisine }} in the heart of {{ client.address.city }}. Come dine with us!</p>
      <ul class="flex flex-wrap justify-center items-center mb-6 text-white">
          <li>
              <a href="#about" class="mr-4 hover:underline md:mr-6">About</a>
          </li>
          <li>
              <a href="/menus/" class="mr-4 hover:underline md:mr-6">Menu</a>
          </li>
          <li>
              <a href="#contact" class="mr-4 hover:underline md:mr-6">Contact</a>
          </li>
      </ul>
      <span class="text-sm text-gray-300 sm:text-center">Copyright <span id="current-year"></span> © All rights reserved.</span>
      <p class="mt-4 text-sm text-gray-400"><a href="https://88restaurants.com/features/restaurant_website_design_and_hosting" target="_blank" rel="noopener noreferrer" class="hover:text-white">Restaurant Website Design & Hosting by 88 Restaurants</a></p>
  </div>
</footer>
