<section id="gallery" class="section section--gallery text-center">
  <div class="container-fill">
    <header class="section__header">
      <h2 class="section__title section__title--invert"><small class="section__pretitle">Gallery</small>Explore Sumo Sumo Hibachi Bar</h2>
    </header>
    <div itemtype="http://schema.org/ImageGallery" class="gallery js-photoswipe-gallery itemscope">
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g1.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t1.jpg" itemprop="thumbnail" alt="Fresh Edamame" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Fresh Edamame</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g2.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t2.jpg" itemprop="thumbnail" alt="Shrimp Tempura" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Shrimp Tempura</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g3.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t3.jpg" itemprop="thumbnail" alt="Chicken Gyoza" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Chicken Gyoza</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g4.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t4.jpg" itemprop="thumbnail" alt="Vegetable Tempura" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Vegetable Tempura</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g6.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t6.jpg" itemprop="thumbnail" alt="Teriyaki Chicken Hibachi" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Teriyaki Chicken Hibachi</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g7.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t7.jpg" itemprop="thumbnail" alt="Hibachi Wagyu Sirloin" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Hibachi Wagyu Sirloin</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g8.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t8.jpg" itemprop="thumbnail" alt="Hibachi Shrimp" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Hibachi Shrimp</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g10.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t10.jpg" itemprop="thumbnail" alt="Hibachi Style Noodles" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Hibachi Style Noodles</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g11.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t11.jpg" itemprop="thumbnail" alt="Vegetable Fried Rice" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Vegetable Fried Rice</figcaption>
      </figure>
      <!-- / .gallery__figure-->
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="gallery__figure"><a href="assets/images/gallery/g12.jpg" itemprop="contentUrl" data-size="600x429"><img src="assets/images/gallery/t12.jpg" itemprop="thumbnail" alt="Chicken Fried Rice" class="gallery__image"></a>
        <figcaption itemprop="caption description" class="gallery__caption">Chicken Fried Rice</figcaption>
      </figure>
      <!-- / .gallery__figure-->
    </div>
  </div>
</section>

