  <div class="page-header--fixed">
    <header id="page-header" class="page-header page-header--animated">
      <div class="container__page-nav">
        <div class="page-nav__flex">
          <div class="page-nav__logo">
            <figure class="page-logo"><a href="index.html"><img src="assets/images/logo.png" alt="Sumo Sumo Hibachi Bar" class="logo__image"></a></figure>
          </div>
          <div class="page-nav__right">
            <nav class="page-nav">
              <ul class="page-nav__list">
                <li class="page-nav__item"><a href="#about" title="" class="page-nav__link js-scroll-to">About</a></li>
                <li class="page-nav__item"><a href="menu-food.html" title="" class="page-nav__link js-scroll-to">Menus</a></li>
                <li class="page-nav__item"><a href="#gallery" title="" class="page-nav__link js-scroll-to">Gallery</a></li>
                <li class="page-nav__item"><a href="#contact" title="" class="page-nav__link js-scroll-to">Contact</a></li>
                <li class="page-nav__item"><a href="employment.html" title="" class="page-nav__link js-scroll-to">Employment</a></li>
                <li class="button--page-nav page-nav__item"><a href="https://88restaurants.com/1149/online_orders/new" title="" class="page-nav__text js-scroll-to">Order Online</a></li>
                <li class="button--page-nav page-nav__item"><a href="https://88restaurants.com/1149/reservations/restaurants/booking_details" title="" class="page-nav__text js-scroll-to">Reserve Online</a></li>
              </ul>
            </nav>
          </div>
          <a href="javascript:void(0)" title="Site Navigation" id="page-nav-button" class="button page-nav-button">
            <div class="hamburger-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
        </div>
      </div>
    </header>
  </div>
