  <section class="page-intro-static">
    <div class="page-intro__box">
    <header class="page-intro__header">
      <div class="container">
        <h1 class="page-intro__title"><small class="page-intro__pretitle">– Welcome –</small>Sumo Sumo Hibachi Bar</h1>
        <p class="page-intro__text">Where the art of teppanyaki meets theatrical dining - experience hibachi entertainment at its finest.</p>
      </div>
    </header>
    </div>
  </section>

