<div class="bg-white">
  <div class="relative isolate overflow-hidden flex items-center hero-with-header">
    <div id="hero-slider" class="absolute inset-0 -z-10 size-full">
      <img src="assets/images/hero-bg-optimized.jpg" alt="" class="hero-slide absolute inset-0 size-full object-cover opacity-100 transition-opacity duration-1000 ease-in-out" />
      <img src="assets/images/hero-bg-2-optimized.jpg" alt="" class="hero-slide absolute inset-0 size-full object-cover opacity-0 transition-opacity duration-1000 ease-in-out" />
      <img src="assets/images/hero-bg-3-optimized.jpg" alt="" class="hero-slide absolute inset-0 size-full object-cover opacity-0 transition-opacity duration-1000 ease-in-out" />
    </div>
    <div class="absolute inset-0 -z-10 bg-black opacity-60"></div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <div class="text-center">
          <h1 class="text-balance text-3xl font-semibold tracking-tight text-white sm:text-7xl">{{ client.hero_title }}</h1>
          <p class="mt-8 text-pretty text-lg font-medium text-gray-200 sm:text-xl/8">{{ client.hero_subtitle }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

