  <div class="wave-top"></div>
  <!--UPDATE HOURS AND CONTACT INFO -->
  <div class="container">
    <div class="row">
      <!-- Hours of Operation Column -->
      <div class="col-6 col-tablet-6 col-12">
        <section id="hours" class="section--hours text-center" style="margin-top: 40px;">
          <header class="section__header">
            <h2 class="section__title" style="margin-bottom: 5px;">
              <svg class="icon icon__page-intro">
                <use xlink:href="#icon-clock" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>Hours of Operation
            </h2>
          </header>
          <div class="section-box__small--outer">
            <div id="wrapper__center" class="section-box__small">
              <div class="hours__padding">
                  <table class="hours__table">
                    <thead>
                      <tr>
                        <th>Day</th>
                        <th>Lunch Hours</th>
                        <th>Dinner Hours</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>Monday</strong></td>
                        <td>11:30am - 2:00pm</td>
                        <td>3:00pm - 8:45pm</td>
                      </tr>
                      <tr>
                        <td><strong>Tuesday - Thursday</strong></td>
                        <td>11:30am - 2:00pm</td>
                        <td>3:00pm - 8:30pm</td>
                      </tr>
                      <tr>
                        <td><strong>Friday - Saturday</strong></td>
                        <td>11:30am - 2:00pm</td>
                        <td>3:00pm - 8:45pm</td>
                      </tr>
                      <tr>
                        <td><strong>Sunday</strong></td>
                        <td>11:30am - 2:00pm</td>
                        <td>3:00pm - 8:15pm</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </section>
      </div>
      
      <!-- Contact Information Column -->
      <div class="col-6 col-tablet-6 col-12">
        <section id="contact-info" class="section--contact text-center" style="margin-top: 40px;">
          <header class="section__header">
            <h2 class="section__title" style="margin-bottom: 5px;">
              <svg class="icon icon__page-intro">
                <use xlink:href="#icon-location" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>Contact Information
            </h2>
          </header>
          <div class="section-box__small--outer">
            <div id="wrapper__center" class="section-box__small">
              <div class="contact__padding">
                <div class="contact__text">
                  <strong>Address:</strong><br>
                  6565 Babcock Road, Suite 19<br>
                  San Antonio, TX 78249<br><br>
                  <strong>Phone:</strong><br>
                  (877) 545-7866
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

