  <section id="menu" class="section section--menu text-center">
    <div class="container-full">
      <header class="section__header">
        <h2 class="section__title"><small class="section__pretitle">Menus</small>{{ client.tagline }}</h2>
      </header>
      <p class="lead">
        {{ client.description }}
      </p>
      <nav class="menu__nav">
        <ul class="menu__list menu__list--two">
          <li class="menu__item">
            <div class="menu__item-content menu__item-content--lunch"><a href="menu-food.html" class="menu__link"><small>View Our</small>{{ client.menuCategories.food }}</a></div>
          </li>
          <li class="menu__item">
            <div class="menu__item-content menu__item-content--specials"><a href="menu-beverages.html" class="menu__link"><small>View Our</small>{{ client.menuCategories.beverages }}</a></div>
          </li>
        </ul>
        <ul class="menu__list menu__list--two">
          <li class="menu__item">
            <div class="menu__item-content menu__item-content--dinner"><a href="menu-platter.html" class="menu__link"><small>View Our</small>{{ client.menuCategories.platter }}</a></div>
          </li>
          <li class="menu__item">
            <div class="menu__item-content menu__item-content--happy-hour"><a href="menu-dessert.html" class="menu__link"><small>View Our</small>{{ client.menuCategories.dessert }}</a></div>
          </li>
        </ul>
      </nav>
    </div>
  </section>

