<section id="reservation" class="section section--reservation text-center">
  <div class="container">
    <header class="section__header">
      <h2 class="section__title"><small class="section__pretitle">Make a Reservation</small>Online Reservations at Sumo Sumo Hibachi Bar</h2>
    </header>
    <p class="lead">
      Join us for an unforgettable hibachi experience! Use the widget below to reserve your table for parties up to 10 guests and watch our skilled chefs create culinary magic right before your eyes. For larger parties, please call us directly at (877) 545-7866.
    </p>
    <iframe id='widget' width='300' height='442' src='https://88restaurants.com/1149/widgets/5153' style='border: none; background: none; border-radius: 5px;'></iframe>
  </div>
</section>

