---
title: Home
---

{% extends "layouts/base.njk" %}

{% block content %}
  {% include "components/hero.njk" %}
  {% include "components/info.njk" %}
  {% include "components/about.njk" %}
  {% include "components/reserve.njk" %}
  {% include "components/parallax.njk" %}
  {% include "components/gallery.njk" %}
  {% include "components/contact.njk" %}
{% endblock %}
