---
title: "Salads & Apps Menu - Grande Pizza & Wings To Go | Hoboken, NJ"
description: "Browse our full salads & appetizers menu and order online from Grande Pizza & Wings To Go in Hoboken, NJ."
---
{% extends "layouts/base.njk" %}

{% block bodyAttrs %}data-nav-solid="true" class="overflow-hidden"{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<section id="menu" class="text-center" style="height: 100vh;">
  <iframe
    src="https://88restaurants.com/{{ client.id }}/online_orders/frame#menu-2658"
    style="width: 100%; height: 100%; border: none; scrollbar-width: none; -ms-overflow-style: none;"
    title="Salads & Apps Menu - Grande Pizza & Wings To Go"
    loading="lazy"
    allow="payment"
  >
    <p class="p-8 text-center text-gray-600">
      Your browser doesn't support iframes.
      <a href="https://88restaurants.com/{{ client.id }}/online_orders/frame#menu-2658"
         target="_blank" rel="noopener noreferrer"
         class="text-primary-600 hover:text-primary-700 underline">
        Click here to view our menu in a new window
      </a>
    </p>
  </iframe>
</section>
{% endblock %}
